@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email ya ha sido Confirmado ";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />

</div>


